/** Not allowed to change this initial CSS code **/
body {
  background: url(../img/12_col.gif) center top repeat-y;
  background-size: 90%;
}
/*************************************************/

* {
  box-sizing: border-box;
}

.container {
  width: 89%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  padding: 10px 0px;
  margin: auto;
}
header,
.box1,
.box2,
.box3,
main,
aside,
footer,
.footer-section-1,
.footer-section-2,
.footer-section-3,
.footer-section-4,
main div {
  border: 1px solid black;
}

header {
  width: 100%;
  grid-column: span 12;
  grid-row: span 1;
  background-color: blanchedalmond;
  place-content: center;
  display: flex;
  align-items: center;
}
header button {
  margin: 0px 15px;
}
#button4 {
  margin-left: auto;
}

.box1 {
  grid-row: span 2;
  grid-column: span 2;
}
.box2 {
  grid-row: span 2;
  grid-column: span 8;
}
.box3 {
  grid-row: span 2;
  grid-column: span 2;
}
main {
  grid-row: span 2;
  grid-column: span 9;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: space-evenly;
  background-color: blanchedalmond;
}
main div {
  flex: 0 0 30%;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: span 2;
  grid-column: span 3;
  background-color: blanchedalmond;
}
aside button {
  margin-top: 4%;
  width: 90%;
}

footer {
  grid-row: span 2;
  grid-column: span 12;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
}

footer div {
  margin: 10px;
  grid-column: span 1;
}

@media (min-width: 960px) and (max-width: 1200px) {
  .box1 {
    grid-column: span 3;
  }
  .box2 {
    grid-column: span 6;
  }

  .box3 {
    grid-column: span 3;
  }
  main {
    grid-column: span 8;
  }
  aside {
    grid-column: span 4;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  .container {
    grid-template-rows: repeat(5, 1fr);
  }
  .box1 {
    grid-column: span 4;
  }
  .box2 {
    grid-column: span 4;
  }

  .box3 {
    grid-column: span 4;
  }
  main {
    grid-column: span 6;
  }
  aside {
    grid-column: span 6;
  }
  .footer-section-1,
  .footer-section-2,
  .footer-section-3,
  .footer-section-4 {
    grid-row: span 1;
  }

  footer {
    grid-row: span 2;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  header,
  .box1,
  .box2,
  .box3,
  main,
  aside,
  .footer-section-1,
  .footer-section-2,
  .footer-section-3,
  .footer-section-4 {
    grid-column: span 12;
    height: 10vh;
  }
}
